.container {
    max-width: 1536px;
    margin: 0 auto;
}

.burger-icon {
    display: none;
}

@media (width <=1536px) {
    .container {
        max-width: 1024px;
    }
}

@media (width <=1024px) {
    .container {
        max-width: 768px;
    }
}

@media (width <=758px) {
    .container {
        max-width: 640px;
    }
}

main {
    padding-bottom: 72px;
}

/* --- Header --- */

header {
    background-color: var(--gray-50);
    padding: 24px 0;
}

.header {
    display: grid;
    row-gap: 24px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 24px;
}

.company-identity {
    display: flex;
    align-items: center;
}

.company-name {
    display: inline-block;
    margin-left: 4px;
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
}

.header-brief-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .cost {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-right: 1px solid var(--purple-400);
    padding-right: 12px;
}

.header .phone {
    padding-left: 12px;
}

.phone .phone-number {
    font-weight: 900;
    font-size: 36px;
    line-height: 111%;
}

.phone .phone-notice {
    font-weight: 300;
    font-size: 24px;
    line-height: 133%;
}

.header .navigation-bar {
    grid-column-start: 1;
    grid-column-end: 3;
}

.navigation-bar ul {
    display: flex;
    gap: 24px;
}

.navigation-bar li {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.place-order-container {
    text-align: right;
}

.header .place-order {
    display: inline-block;
}

.purple-button {
    display: inline-block;
}

@media (width <=1536px) {
    .phone-number {
        font-size: 30px;
    }

    .company-name {
        font-size: 20px;
    }

    .phone .phone-notice {
        font-size: 20px;
    }
}

@media (width <=1024px) {
    .header {
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
        column-gap: 0;
    }

    .header .navigation-bar {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .header .cost {
        display: flex;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 1;
        text-align: center;
        border-right: none;
    }

    .place-order-container {
        margin: 12px 0;
    }

    .navigation-bar {
        border-top: 2px solid var(--purple-400);
        border-bottom: 2px solid var(--purple-400);
        height: 100%;
        align-items: center;
        align-content: center;
    }

    .place-order-container {
        border-top: 2px solid var(--purple-400);
        border-bottom: 2px solid var(--purple-400);
        height: 100%;
        align-items: center;
        align-content: center;
    }

    .phone .phone-number {
        font-size: 24px;
    }

    .phone .phone-notice {
        font-size: 16px;
    }
}

@media (width <=758px) {
    .company-name {
        font-size: 18px;
    }

    .phone .phone-number {
        font-size: 20px;
        text-align: right;
    }

    .phone .phone-notice {
        display: none;
    }

    .header .cost,
    .header .navigation-bar,
    .header .place-order-container {
        display: none;
    }

    .burger-icon {
        display: inline-block;
        padding-left: 16px;
    }

    .phone-number {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* --- Hero --- */

.introduction {
    display: flex;
    gap: 24px;
    padding-top: 72px;
}

.hero {
    max-width: 756px;
    max-height: 584px;
}

.hero h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 111%;
}

.hero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px;
}

.hero img {
    border-radius: 16px;
    max-width: 756px;
    max-height: 352px;
}

.calculator {
    background: var(--gray-50);
    border-radius: 16px;
    padding: 24px 0;
    max-width: 756px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.calculator-inner {
    max-width: 496px;
}

.calculator h2 {
    margin-bottom: 16px;
}

.calculator p {
    margin-bottom: 28px;
    text-align: center;
}

.calculator .calculator-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 24px;
}

.calculator-inputs {
    margin-bottom: 28px;
}

.calculator-inputs input {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--gray-900);
    border-radius: 4px;
    padding: 12px;
    max-height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.calculator-inputs .full {
    grid-column: 1 / -1;
}

.order-calculation {
    display: block;
    width: 100%;
    border: none;
}

@media (width <=1536px) {
    .introduction {
        flex-direction: column;
    }

    .hero {
        display: flex;
        gap: 16px;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: auto;
    }

    .hero img {
        max-width: 50%;
        width: 100%;
        max-height: 100%;
        height: auto;
    }
}

@media (width <=1024px) {
    .hero {
        display: block;
    }

    .hero img {
        max-width: 100%;
    }
}
}

@media (width <=758px) {

}

/* --- Advantages --- */

.advantages {
    margin-top: 72px;
}

.advantages h2 {
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

.advantages-list>li {
    padding: 24px;
    display: flex;
    max-width: 496px;
    gap: 12px;
}

.advantages-list>li img {
    max-width: 136px;
    max-height: 136px;
}

.advantages-list .advantage-description {
    max-width: 300px;
}

.advantages-list h3 {
    margin-bottom: 12px;
}

/*--- Guarantees ---*/

.guarantees {
    margin-top: 72px;
}

.guarantees h2 {
    margin-bottom: 12px;
}

.guarantees p.intro {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    max-width: 756px;
    margin: 0 auto;
}

.guarantees .document-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
}

.guarantees .document-list li {
    max-width: 366px;
}

.guarantees .document-list p {
    font-weight: 900;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
}

.guarantees .show-more {
    display: block;
    width: fit-content;
    margin: 36px auto 0;
}

/*--- Feedback ---*/

.feedback {
    margin-top: 72px;
}

.carousel {
    display: flex;
    gap: 47px;
    margin-top: 32px;
    padding: 0 23px 0;
}

.articles {
    display: flex;
    gap: 24px;
}

.feedback .feedback-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-basis: 50%;
    background-color: var(--gray-50);
    border-radius: 16px;
    padding: 32px 43px;
    max-width: 626px;
    min-height: 350px;
    position: relative;
}

.feedback-item .quotes {
    position: absolute;
    bottom: 40px;
    right: 18px;
}

.feedback-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--gray-900);
}

.feedback-author {
    font-weight: 300;
    font-size: 24px;
    line-height: 133%;
    color: var(--gray-500);
}

/* --- Feedback Form ---- */

.leave-feedback {
    margin-top: 72px;
}

.leave-feedback .container {
    background-color: var(--gray-50);
    border-radius: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.leave-feedback .feedback-form {
    margin: 32px auto 0;
    max-width: 497px;
}

.leave-feedback .feedback-inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.feedback-inputs input,
.feedback-inputs textarea {
    border: 2px solid var(--gray-900);
    border-radius: 4px;
    padding: 12px;
}

.feedback-inputs textarea {
    min-height: 150px;
}

.feedback-long-input {
    grid-column: 1 / -1;
}

.leave-feedback .leave-order-button {
    width: 100%;
    margin-top: 20px;
}

/* --- Footer --- */

footer {
    background-color: var(--gray-900);
    padding: 40px 0;
}

footer .upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-identity-footer {
    display: flex;
    align-items: center;
}

footer .company-name {
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    color: var(--gray-50);
}

footer .copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray-50);
}

footer .nav {
    display: flex;
    gap: 24px;
}

footer .navigation-bar a {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-50);
}

footer .navigation-bar a:hover {
    color: var(--purple-500);
}

footer .phone {
    color: var(--gray-50);
}

footer .phone .phone-number {
    font-weight: 900;
    font-size: 36px;
    line-height: 111%;
}

footer .phone .phone-notice {
    font-weight: 300;
    font-size: 24px;
    line-height: 133%;
}

footer .disclaimer {
    font-weight: 300;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray-600);
}

footer .created-by {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: right;
    color: var(--gray-500);
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.disclaimer {
    max-width: 1146px;
}

.created-by {
    max-width: 242px;
}

.copy {
    display: flex;
    align-items: center;
}